<%- include('header') %>
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/articleA.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <style type="text/css">
        object,
        embed {
            -webkit-animation-duration: .001s;
            -webkit-animation-name: playerInserted;
            -ms-animation-duration: .001s;
            -ms-animation-name: playerInserted;
            -o-animation-duration: .001s;
            -o-animation-name: playerInserted;
            animation-duration: .001s;
            animation-name: playerInserted;
        }
        
        @-webkit-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
        
        @-ms-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
        
        @-o-keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes playerInserted {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
    </style>
    <div class="message-container">
    </div>
    <div class="mm-wrapper" id="mm-wrapper">
        <div class="body">
            <div class="container">
                <div class="col-group">
                    <div class="col-9 col-mb-12">
                        <section class="al-article-section platform-left-section one-section white section">
                            <div class="tab-panel">
                                <div class="tab tab-small">