<%- include('header') %>
    <link rel="stylesheet" type="text/css" href="/css/lib.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <div class="body">
        <section class="container ci-main-section one-section white section">
            <div class="tab-panel">
                <div class="tab tab-small">
                    <ul>
                        <li class="tab-item active">
                            <a href="https://wenxue.ruogoo.cn/collection">全部</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/scgf">诗词歌赋</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/gwgd">古微古段</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/sgsw">诗歌散文</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/xsgs">小说故事</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/jszt">纪实杂谈</a>
                        </li>
                        <li class="tab-item ">
                            <a href="https://wenxue.ruogoo.cn/collection/category/cplz">长篇连载</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="collection-list col-group">
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/444" class="image">
                                        <img src="https://i.ruogoo.cn/cover/e9be04bde8f02993595de475c769eb99.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/e9be04bde8f02993595de475c769eb99.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/444"> 等等待 </a></h3>
                                    <p class="description">点点滴滴</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/10113" class="gray"> 方丈遗少不是杜三贱 </a></span>
                                        <span class="span-item gray small text"> 3分钟前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/443" class="image">
                                        <img src="https://i.ruogoo.cn/cover/a54ce9035f69a545a79cb7dc2cb475da.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/a54ce9035f69a545a79cb7dc2cb475da.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/443"> 乱终杂记 </a></h3>
                                    <p class="description">零零散散写下想法。短篇小说。随笔文章，留下 自己的小感叹。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/10191" class="gray"> 不言 </a></span>
                                        <span class="span-item gray small text"> 20小时前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/442" class="image">
                                        <img src="https://i.ruogoo.cn/cover/ac596d06258844c0c1713de927f8a1dd.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/ac596d06258844c0c1713de927f8a1dd.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/442"> 少年魄 </a></h3>
                                    <p class="description">写了很多东西，总忘不了个少年 寥寥几句，简记韶华

                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/10191" class="gray"> 不言 </a></span>
                                        <span class="span-item gray small text"> 22小时前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/438" class="image">
                                        <img src="https://i.ruogoo.cn/cover/3e3c77c5699f736ff48e0b0be894b7db.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/3e3c77c5699f736ff48e0b0be894b7db.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/438"> 忘了吗？ </a></h3>
                                    <p class="description">忘了，忘不了。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9495" class="gray"> 红颜先生 </a></span>
                                        <span class="span-item gray small text"> 1天前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/441" class="image">
                                        <img src="https://i.ruogoo.cn/cover/4efa260247b378b9dafc95aece27900e.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/4efa260247b378b9dafc95aece27900e.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/441"> 《古微锦集》原创 </a></h3>
                                    <p class="description">本文集古微都是原创，盗者必究！</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9805" class="gray"> 君狸辛ぃ </a></span>
                                        <span class="span-item gray small text"> 1天前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/440" class="image">
                                        <img src="https://i.ruogoo.cn/cover/2b34f5dd9f2e0fde11d4f2951146a9b6.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/2b34f5dd9f2e0fde11d4f2951146a9b6.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/440"> 蝶恋花 </a></h3>
                                    <p class="description">蝶恋花，如诗，如故，如梦~~~</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9806" class="gray"> 为伊执守 </a></span>
                                        <span class="span-item gray small text"> 2天前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/407" class="image">
                                        <img src="https://i.ruogoo.cn/cover/0f31ff755eecf298e87e9a42a43a0976.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/0f31ff755eecf298e87e9a42a43a0976.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/407"> 故梦集 </a></h3>
                                    <p class="description">非花，非歡。拾光，醉觴。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/8747" class="gray"> 玉扶疏° </a></span>
                                        <span class="span-item gray small text"> 2天前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/231" class="image">
                                        <img src="https://i.ruogoo.cn/cover/708043129608d801ca10ca81d002cebc.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/708043129608d801ca10ca81d002cebc.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/231"> 若古词话 </a></h3>
                                    <p class="description">若古作家们的诗词古段作品。【欢迎诸位投送精品文章~】</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/3197" class="gray"> 公子扶苏 </a></span>
                                        <span class="span-item gray small text"> 3天前 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/439" class="image">
                                        <img src="https://i.ruogoo.cn/cover/eabcad09694dabea6d14babd2bed504c.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/eabcad09694dabea6d14babd2bed504c.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/439"> 诗词联文集 </a></h3>
                                    <p class="description"></p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/392" class="gray"> 扉晔 </a></span>
                                        <span class="span-item gray small text"> 08月05日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/433" class="image">
                                        <img src="https://i.ruogoo.cn/cover/1252eb80b6ac747a47458d1cf7546fd7.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/1252eb80b6ac747a47458d1cf7546fd7.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/433"> 青春 </a></h3>
                                    <p class="description">此情不言殇离别，此恨不关风与月。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/8999" class="gray"> 顾尔锦时 </a></span>
                                        <span class="span-item gray small text"> 08月02日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/321" class="image">
                                        <img src="https://i.ruogoo.cn/cover/c250055dd86cdda9adde0d6ef98220be.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/c250055dd86cdda9adde0d6ef98220be.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/321"> 弦音沾染紫晶阁 </a></h3>
                                    <p class="description">✿弦音沾染，散尽余音。紫晶闻聆，梦断殇魂！✿ 执伞走过我身边，留你一丝体香，无法感知你的温暖却聆听了你的心声。弱水三千只取一瓢，载着你的梦想起航前往你我约定之地。只愿此生不负时光不负君◈ (CN:清水弦音) ✪弦音沾染紫晶阁✪ </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/1030" class="gray"> 清水弦音 </a></span>
                                        <span class="span-item gray small text"> 07月31日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/15" class="image">
                                        <img src="https://i.ruogoo.cn/cover/8655473fadf6c766fa59afa31d796c48.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/8655473fadf6c766fa59afa31d796c48.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/15"> 《雨梦集》 </a></h3>
                                    <p class="description">言曰：诗词是为表达作者情思心意的。我作诗词亦是，因而平时不常有诗作，只是偶感心事便作诗词一二。叹无古人雅词绝句，但也能诉述心中闲愁隐意。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/2" class="gray"> 雨梦幽隐 </a></span>
                                        <span class="span-item gray small text"> 07月30日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/425" class="image">
                                        <img src="https://i.ruogoo.cn/cover/02f8825f571af5f6a29abbe841950348.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/02f8825f571af5f6a29abbe841950348.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/425"> 活着 </a></h3>
                                    <p class="description">人为活着，活着为何？</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9495" class="gray"> 红颜先生 </a></span>
                                        <span class="span-item gray small text"> 07月26日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/437" class="image">
                                        <img src="https://i.ruogoo.cn/cover/b20ad4097f8fb06cbb7ced10c8994a87.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/b20ad4097f8fb06cbb7ced10c8994a87.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/437"> 转载mei wen </a></h3>
                                    <p class="description">好东西应该与大家分享</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9952" class="gray"> 信奉主耶稣阿门 </a></span>
                                        <span class="span-item gray small text"> 07月26日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/436" class="image">
                                        <img src="https://i.ruogoo.cn/cover/bd5957d0eaab0b81945020b8e8925d83.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/bd5957d0eaab0b81945020b8e8925d83.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/436"> 苍苍蒹葭 </a></h3>
                                    <p class="description">我的爱一直随你
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/3846" class="gray"> 倚南寄傲 </a></span>
                                        <span class="span-item gray small text"> 07月21日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/111" class="image">
                                        <img src="https://i.ruogoo.cn/cover/41dcdff1488168d6f1ca375de3f37cd4.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/41dcdff1488168d6f1ca375de3f37cd4.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/111"> 山有扶苏，隰有荷华。 </a></h3>
                                    <p class="description">公子扶苏作品集
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/3197" class="gray"> 公子扶苏 </a></span>
                                        <span class="span-item gray small text"> 07月15日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/99" class="image">
                                        <img src="https://i.ruogoo.cn/cover/0141569d7b04b5cacb85cb18585cfc65.png@!cover-120" data-original="https://i.ruogoo.cn/cover/0141569d7b04b5cacb85cb18585cfc65.png@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/99"> 说书人 </a></h3>
                                    <p class="description">他月下饮茶，提笔捻柳入画， 山水人家，日暮朝夕一骑轻马； 她眉间淡雅，素手轻描丹砂， 水袖风华，远黛幽幽随风折下。
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/201" class="gray"> 抚澜夕生 </a></span>
                                        <span class="span-item gray small text"> 07月15日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/435" class="image">
                                        <img src="https://i.ruogoo.cn/cover/0be8bd0577ceb6743c3a4ca359e6564d.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/0be8bd0577ceb6743c3a4ca359e6564d.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/435"> 若罄竹，或nan shu </a></h3>
                                    <p class="description">止盈沧海化白骨</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/10069" class="gray"> 鲍宇捷 </a></span>
                                        <span class="span-item gray small text"> 07月05日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/423" class="image">
                                        <img src="https://i.ruogoo.cn/cover/0100ecd9a1d60cda770c6660cf732958.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/0100ecd9a1d60cda770c6660cf732958.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/423"> 莲花错·子灵【君狸辛】 </a></h3>
                                    <p class="description">本文是一篇短篇连载古风故事，灵起于一首古风剧情歌《莲花错·梵音》 以下是本故事简介： 梵音：你已经在三生石前候了足足百年有余，可是在等什么人？ 子灵：不曾等谁！你呢？自我来此地时已有一百载，期间，你便只是坐在忘川河岸，不言不语，这又是为何？ 梵音：我在等一个人！ 子灵：等谁？ 梵音：我也不知道，我只是在等。我知道，他还在，他会来！ 子灵：我陪你等！！ 梵音：为何？ 子灵：我想看看你等的那个人，会不会来…… 风起，忘川河水却不起半丝涟漪，她想，这般下去，已是最好的结局了吧！！
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9805" class="gray"> 君狸辛ぃ </a></span>
                                        <span class="span-item gray small text"> 07月04日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/334" class="image">
                                        <img src="https://i.ruogoo.cn/cover/7f2a5f613e7567f55ed1d6f76fd0fce8.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/7f2a5f613e7567f55ed1d6f76fd0fce8.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/334"> 千面魔医，王牌妖后 </a></h3>
                                    <p class="description">某只隐性的腹黑小妖女因贪心在路上捡了一对戒指，不幸穿越了。穿越也就穿越了，不是皇后不是妃子也就罢了，凭什么她一穿越就要到处逃命？被逼断崖旁，看见一仙人经过，原以为可以握住一根救命稻草，却发现稻草没心没肺，自个走着阳光大道。她不就是善心一起，救了他一命，谁知道某些男人一旦招惹上，就注定了一辈子也甩不掉传说，他医术高明，敢与冥王争抢人。传说，他乃无情无心人，一手医术，却从不救人。传说，他为了一女子，舍弃江山，只因那一生一世一双人的诺言。传说，她胆小如鼠，废物一个。传说，她杀人不眨眼，腹黑如狐，美丽如妖。传说，她一袭红裙，风华绝代，素手一抬，风起云涌。当传说撞上了郁凉夏与庄雪衣，传说便不再是传说了管你皇帝还是天王，怪物还是精灵，不挡他们路，一切好商量，如若不然......
                                        （非原创，网上就可以搜到，本人很喜欢这本书，借此转载一下，至上原作者：蓝灵雅星） 本文每周六转载不定章，有等不及的盆友可以百度下书名就可以找到哦
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/6299" class="gray"> 萌萌乖喵兔兔唔 </a></span>
                                        <span class="span-item gray small text"> 07月01日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/434" class="image">
                                        <img src="https://i.ruogoo.cn/cover/6b58e59a84d7c8ef1bf8992c31090413.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/6b58e59a84d7c8ef1bf8992c31090413.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/434"> 忆枫文集 </a></h3>
                                    <p class="description">爱古风，爱文学</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/10004" class="gray"> 忆枫 </a></span>
                                        <span class="span-item gray small text"> 06月29日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/384" class="image">
                                        <img src="https://i.ruogoo.cn/cover/052d0d324aa3f1837edd292c459fd272.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/052d0d324aa3f1837edd292c459fd272.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/384"> 浮曲一生似繁华 </a></h3>
                                    <p class="description">收录茈兮的各种古微小说，或虐或暖，款款深情或得以厚报，或附水东流。只是道不尽情之一字，何所思？浮曲一生终将逝去！</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9296" class="gray"> 沐茈兮Fancy </a></span>
                                        <span class="span-item gray small text"> 06月24日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/360" class="image">
                                        <img src="https://i.ruogoo.cn/cover/fac2d5a26eda4742210058019efec3e9.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/fac2d5a26eda4742210058019efec3e9.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/360"> 木成有枝君不念 </a></h3>
                                    <p class="description">木有枝没有想过，君不知有一天会死，为她而死，然后再替她铺一个锦绣良缘，君不念，从此我们常相念。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/8999" class="gray"> 顾尔锦时 </a></span>
                                        <span class="span-item gray small text"> 06月16日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/418" class="image">
                                        <img src="https://i.ruogoo.cn/cover/07f898dd372820c1df810fcbb521c7d8.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/07f898dd372820c1df810fcbb521c7d8.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/418"> 流年半夏 </a></h3>
                                    <p class="description">花开半夏，似水流年。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/9189" class="gray"> 纖指十三弦 </a></span>
                                        <span class="span-item gray small text"> 06月14日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/371" class="image">
                                        <img src="https://i.ruogoo.cn/cover/e6a47e42a0ad66ddb977bf24adf45509.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/e6a47e42a0ad66ddb977bf24adf45509.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/371"> 花间初见，天涯共暖 </a></h3>
                                    <p class="description">古韵流长，流淌了一池花香</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/7702" class="gray"> 月未央 </a></span>
                                        <span class="span-item gray small text"> 06月13日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/255" class="image">
                                        <img src="https://i.ruogoo.cn/cover/bf7abb0d32257975e4ff888b45a1062e.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/bf7abb0d32257975e4ff888b45a1062e.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/255"> 静读岁月 </a></h3>
                                    <p class="description">品茗文字，岁月静好。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/3" class="gray"> 流光不加少 </a></span>
                                        <span class="span-item gray small text"> 06月13日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/16" class="image">
                                        <img src="https://i.ruogoo.cn/cover/5e9213f98a3621aaccc2e78e7181decd.jpeg@!cover-120" data-original="https://i.ruogoo.cn/cover/5e9213f98a3621aaccc2e78e7181decd.jpeg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/16"> 《冷雪嗅梅》短篇小说集 </a></h3>
                                    <p class="description">我的短篇小说集</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/2" class="gray"> 雨梦幽隐 </a></span>
                                        <span class="span-item gray small text"> 06月13日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/92" class="image">
                                        <img src="https://i.ruogoo.cn/cover/d4109aef1d98b1679aec71f48fafdd80.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/d4109aef1d98b1679aec71f48fafdd80.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/92"> 《流年梦》 </a></h3>
                                    <p class="description">似水流年，青华易逝，记录青春的点点滴滴，记录我成长的心理路程。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/3743" class="gray"> 木铃  </a></span>
                                        <span class="span-item gray small text"> 06月07日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/417" class="image">
                                        <img src="https://i.ruogoo.cn/cover/b87776c18fd02be7eab8b06fe702357f.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/b87776c18fd02be7eab8b06fe702357f.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/417"> 清幽 </a></h3>
                                    <p class="description">空谷幽兰 这是自己或摘抄的诗词歌赋。
                                    </p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/6356" class="gray"> 顾常安 </a></span>
                                        <span class="span-item gray small text"> 06月07日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-dt-4 col-6 col-mb-12">
                            <div class="collection-item">
                                <div class="collection-cover">
                                    <a href="https://wenxue.ruogoo.cn/collection/212" class="image">
                                        <img src="https://i.ruogoo.cn/cover/4cb8972b851d7547a12b77702ee9604f.jpg@!cover-120" data-original="https://i.ruogoo.cn/cover/4cb8972b851d7547a12b77702ee9604f.jpg@!cover-120" width="120" height="160"> </a>
                                </div>
                                <div class="collection-detail">
                                    <h3 class="big title one-line"><a href="https://wenxue.ruogoo.cn/collection/212"> 晴上青岚 </a></h3>
                                    <p class="description">平日诗词所聚，愿请各位指点，见笑了。</p>
                                    <p>
                                        <span class="span-item"><a href="https://user.ruogoo.cn/6136" class="gray"> 明羲 </a></span>
                                        <span class="span-item gray small text"> 05月31日 </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="paginate clearfix">
                        <ul class="pagination">

                            <li class="disabled"><span>«</span></li>





                            <li class="active"><span>1</span></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=2">2</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=3">3</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=4">4</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=5">5</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=6">6</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=7">7</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=8">8</a></li>

                            <li class="disabled"><span>...</span></li>





                            <li><a href="https://wenxue.ruogoo.cn/collection?page=14">14</a></li>
                            <li><a href="https://wenxue.ruogoo.cn/collection?page=15">15</a></li>


                            <li><a href="https://wenxue.ruogoo.cn/collection?page=2" rel="next">»</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('articleFooter') %>