<%- include('header') %>
    <div class="post-item">
        <div class="reply-label ui right pointing basic orange label">9</div>
        <p class="one-line text">
            <a href="https://forum.ruogoo.cn/post/2668" class="big title">◈遗音堂◈翻唱《动漫镇》</a>
        </p>
        <p>
            <a href="https://user.ruogoo.cn/8582" class="small gray title">
                <img src="https://i.ruogoo.cn/user/315f802226432850882ec02a5c55c5c2.jpeg@!avatar-60" data-original="https://i.ruogoo.cn/user/315f802226432850882ec02a5c55c5c2.jpeg@!avatar-60" class="ui avatar image">
                <span>寒光璃御浮夢</span>
            </a>
        </p>
    </div>
    <%- include('footer') %>