<%- include('userHeader') %>
    <section class="home-section one-section container">
        <div class="col-group">
            <div class="col-dt-9 col-9 col-mb-12">
                <section class="home-content-section one-section white section">
                    <div class="rg-board white">
                        <div class="rg-board-head">
                            <p class="title">个人设置</p>
                            <a href="https://user.ruogoo.cn" class="more">我的首页 &gt;</a>
                        </div>

                        <div class="rg-board-body set-board white">
                            <div class="set-menus">
                                <ul class="menu-list">
                                    <li class="menu-item ">
                                        <a href="https://user.ruogoo.cn/10113/set/profile" class="gray">资料设置</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="https://user.ruogoo.cn/10113/set/name" class="gray">修改昵称</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="https://user.ruogoo.cn/10113/set/password" class="gray">设置密码</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="https://user.ruogoo.cn/10113/set/email" class="gray">绑定邮箱</a>
                                    </li>
                                    <li class="menu-item current">
                                        <a href="https://user.ruogoo.cn/10113/set/social" class="">社交帐号</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="https://user.ruogoo.cn/10113/set/inviter" class="gray">邀请人</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="set-content">
                                <p>绑定第三方社交帐号可以方便地使用第三方帐号登录.</p>
                                <div class="ui divider"></div>

                                <div class="ui warning message">
                                    <div class="header"> 您必须先设置邮箱, 才可以绑定第三方社交帐号</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="col-dt-3 col-3 col-mb-12">
                <section class="home-side-section">
                    <div class="intro-block one-section white section">
                        <div class="rg-board">
                            <div class="rg-board-head">
                                <p class="title">简介</p>
                                <a href="https://user.ruogoo.cn/10113/profile" class="more">详细资料 &gt;</a>
                            </div>

                            <div class="rg-board-body text">

                            </div>
                        </div>
                    </div>


                    <div class="count-block one-section white section">
                        <div class="rg-board">
                            <div class="rg-board-head">
                                <p class="title">统计</p>
                            </div>
                            <div class="rg-board-body">
                                <p>若古币：4 文钱</p>
                                <p>生命：37</p>

                                <p>真气：12</p>

                                <p>访问量：3</p>

                                <p>文章：1</p>

                                <p>帖子：0</p>

                                <p>冒泡：0</p>

                            </div>
                        </div>
                    </div>



                </section>
            </div>
        </div>
    </section>
    <%- include('articleFooter') %>